* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
    color: white;
}

/* setting the page width and viewpiont height */

.left-info {
    padding: 20px 0px 0px 60px;
    text-shadow: 0.1rem 0.1rem 3rem black;
}

.location-left {
    font-size: 40px;
}

.location-extra {
    margin-left: 10px;
    font-size: 20px;
}

.menu-main-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.menu-main-container > main > img {
    margin-left: 6em;
}

.menu-main-container > main > h1 {
    margin-top: 20px;
    padding: 15px 0 0 0;
    text-align: center;
}

.panel {
    margin-left: 13px;
}

.left-panel { 
    margin-top: 50px;
    padding: 15px 0px 0px 0px;
    width: 28rem;  
    height: 30rem;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 #575D90;
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#icon8 {
    margin-left: 10em;
}

.left-panel  h1 {
    padding: 10px 0px 15px 0px ;
    text-align: center;
    font-size: 35px;
}

.middle-panels {
    width: 20rem;
    height: 20rem;
    margin-top: 60px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 0px 32px 0 #00A676;
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.middle-panels-2 {
    width: 20rem;
    height: 20rem;
    margin-top: 60px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 0px 32px 0 #731536;
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.middle-panels-3 {
    width: 20rem;
    height: 20rem;
    margin-top: 60px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 0px 32px 0 #472392;
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* right side of the webpage */

.right-info {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px 60px 0px 0px;  
    text-shadow: 0.1rem 0.1rem 3.5rem black;
}

.date-right {
    width: 287px;
    font-size: 30px;
}

.time-right {
    font-size: 25px;
    text-align: center;
}

.time-of-day {
    font-size: 16px;
}

.short-date {
    position: relative;
    right: 10px;
}

/* using flex and justify content to separate elements across the document 
+ small adjustments for quality of life (such as font size) for nice details*/


.background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .background-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .background-video {
        width: auto;
        height: 100%;
    }
}