* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* setting the page width and viewpiont height */

.main-content {
    color: white;
}

/* contains and therefore affects all items on the main webpage */

.left-info {
    padding: 20px 0px 0px 60px;
    text-shadow: 0.1rem 0.1rem 3rem black;
}


.location-left {
    font-size: 40px;
}

.location-extra {
    position: relative;
    left: 10px;
    font-size: 20px;
}

.left-panel {
    display: inline-block;
    margin-top: 50px;
    padding: 15px 0px 0px 0px;
    width: 28rem;  
    height: 30rem;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 #575D90;
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#icon8 {
    margin-left: 10em;
}

.left-panel  h1 {
    padding: 10px 0px 15px 0px ;
    text-align: center;
    font-size: 35px;
}

.middle-panels {
    display: inline-flex;
}

/* right side of the webpage */

.right-info {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px 60px 0px 0px;  
    text-shadow: 0.1rem 0.1rem 3.5rem black;
}

.date-right {
    font-size: 30px;
}

.time-right {
    font-size: 25px;
    text-align: center;
}

.time-of-day {
    font-size: 16px;
}

/* using flex and justify content to separate elements across the document 
+ small adjustments for quality of life (such as font size) for nice details*/


.background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .background-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .background-video {
        width: auto;
        height: 100%;
    }
}